html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color:rgb(0, 0, 0);
    background-color: white;
}

/* HEADER */
.header {
    color:rgb(136, 56, 145);
    text-shadow: 0 0 3px rgb(0, 0, 0);
    text-align: center;
    padding-top: 50px;
    font-size: 3em;
}

.app {
    color: rgb(62, 179, 91);
    text-shadow: 0 0 3px rgb(0, 0, 0);
}

/* ADDING */
.container-wrapper {
    display: flex;
    justify-content: center;
}

.adding-container {
    height: 150px;
    width: 600px;
    text-align: center;
}

.adding-title {
    display: flex;
    justify-content: center;
}

.adding-input {
    box-sizing: border-box;
    height: 30px;
    padding-left: 5px;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;

}

.adding-input::placeholder {
    color: rgb(0, 0, 0, 0.75);
    font-size: 95%;
}

.adding-input:focus {
    outline: none;
    caret-color: rgb(0, 0, 0);
}

input:focus::placeholder {
    color: transparent;
  }

.adding-button {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    position:relative;
    top: 5px;
  
}
.add {
    height: 33px;
    width: 33px;
    transition: all 0.05s;
    position:relative;
    top: 8px;
    left: -5px;
}

.add:active {
    transform: scale(1.05);
}

.adding-button:hover {
    cursor: pointer;
}

/* LIST */

.container-wrapper2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 5px;
}

ul {
    padding: 0;
    list-style-type: none;
    width: 234px;
}
li {
    font-size: 1.2em;
    padding: 2px 0;
}

.clearing-button {
    height: 25px;
    background-color: rgba(205, 49, 49, 0.5);
    border: 0.5px solid white;
    border-radius: 5px;
    color: white;
    margin-bottom: 50px;
}

.clearing-button:hover {
    cursor: pointer;
    background-color: rgba(205, 49, 49, 0.8);
    border-color: red;
}

.done {
    text-decoration-line: line-through;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-thickness: 2px;
}

.buttons {
    height: 20px;
    width: 20px;
    opacity: 0.6;
}
.buttons:hover {
    cursor: pointer;
}
.buttons:hover {
    opacity: 1;
}

.addon-buttons {
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    position: relative;
    background:none;
    border:none;
    top: 4px;
}
.check-btn {
    position: relative;
    left: 3px;
}
.itemInput {
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    width: 150px;
}

.itemInput::placeholder {
    color:black;
    opacity: 1;
}


.itemInput:active {
    border: none;
    outline: none;
    text-decoration: none;
}

.quantInput {
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    width: 30px;
}

.quantInput::placeholder {
    color:black;
    opacity: 1;
}


.quantInput:active {
    border: none;
    outline: none;
    text-decoration: none;
}

@media only screen and (max-width: 509px) {
    #list-h2 {
        margin-top: 50px;
    }
}